[Desktop Entry]
Version=1.2
Name=KBBI Qt
Comment=KBBI-Qt Indonesian dictionary
GenericName=KBBI-Qt
Exec=/usr/bin/KBBI-Qt
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/pixmaps/kbbi-qt.png
Categories=Education;Office;
