Package: kbbi-qt
Version: 1.0-1
Architecture: amd64
Maintainer: AnTo SamalonA <ansamsoftdev@gmail.com>
Installed-Size: 22921
Depends: libc6 (>= 2.4), libgcc1 (>= 1:3.0), libgl1-mesa-glx | libgl1, libstdc++6 (>= 5), libqt5sql5-sqlite, libqt5sql5, libqt5core5a
Section: educations
Priority: optional
Homepage: https://github.com/bgli
Description: KBBI-qt is dictionary build from Qt framework
 KBBI Qt adalah aplikasi GUI Kamus Besar Bahasa Indonesia yang dikembangkan menggunakan bahasa pemrograman C++ dan Framework Qt.
 KBBI Qt memiliki antarmuka grafis yang bisa digunakan dengan mudah di desktop GNU/Linux.
