[Desktop Entry]
Version=1.0
Name=KBBI-Qt
Comment=KBBI-Qt Indonesian dictionary
GenericName=KBBI-Qt
Exec=/usr/bin/KBBI-Qt
Terminal=false
X­MultipleArgs=false
Type=Application
Icon=/usr/share/icons/kbbi-qt.png
Categories=Educations;
